* {
  font-family: "proxima-nova", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.logo-container {
  padding: 50px 0;
  text-align: center;
}
.logo-container h1.logo {
  font-size: 2.5em;
  margin: 0;
  font-weight: 500;
}
.logo-container h3.subtitle {
  margin: 0;
  font-size: 1.8em;
  color: #aaa;
  font-weight: 300;
  padding: 5px;
}
.movie-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
.movie-container .overlay {
  position: absolute;
  top: 600px;
  height: 600px;
  width: 100%;
  box-shadow: inset 0px -10px 8px -5px rgba(1, 1, 1, 0.2);
  z-index: 300;
  background-color: rgba(1, 1, 1, 0.7);
}
.movie-container .overlay header.title {
  font-family: "bebas-neue", sans-serif !important;
  padding: 50px;
  padding-bottom: 0;
  font-size: 2.5em;
  color: #FFF;
}
.movie-container .overlay header.title hr {
  width: 70%;
  text-align: left;
  margin-left: 0;
  margin-top: -5px;
}
.movie-container .overlay article.description {
  padding-left: 50px;
  width: 70%;
  color: #FFF;
  font-size: 1.2em;
  text-align: justify;
  height: 16%;
  overflow: scroll;
}
.movie-container .overlay article.trailer {
  margin-top: 30px;
  margin-left: 50px;
  width: 480px;
}
.movie-container .overlay article.trailer h3.title {
  margin-bottom: 5px;
  font-family: "bebas-neue", sans-serif !important;
  color: #FFF;
}
.movie-container .overlay article.trailer iframe {
  padding: 10px;
  border: 3px solid #FFF;
}
.movie-container .overlay img.poster {
  position: absolute;
  top: 50%;
  right: 0;
  margin: 30px;
  margin-top: -225px;
}
section.movie-description {
  background-color: #ddd;
  overflow: hidden;
  position: relative;
  top: 600px;
  height: 600px;
  margin: 0 auto;
}
section.movie-description img {
  opacity: 0;
}
section.movie-description canvas {
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -o-transform: scale(2, 2);
  transform: scale(2, 2);
}
.alt-color {
  background-color: #f5f5f5;
}
.alt-color .header {
  padding: 30px;
}
.alt-color .header .section-title {
  font-size: 1.5em;
  font-weight: 500;
}
.alt-color .header .section-subtitle {
  font-size: 1.2em;
  font-style: italic;
  color: #aaa;
}
.alt-color .data .wrapper {
  overflow-x: scroll;
}
.alt-color .data ul.movies {
  display: inline-block;
  width: auto;
  list-style: none;
  min-height: 330px;
  white-space: nowrap;
}
.alt-color .data ul.movies li {
  display: inline-block;
  margin: 15px;
  opacity: 0;
  cursor: pointer;
}
.alt-color .data ul.movies li img {
  border-radius: 5px;
}
.alt-color .data ul.movies li .metadata {
  width: 154px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
}
.alt-color .data ul.movies li .metadata span {
  text-align: left;
  padding-right: 5px;
}
.alt-color .data ul.movies li .metadata span.title {
  font-weight: 600;
  font-size: 1.2em;
}
.alt-color .data ul.movies li .metadata span.genres {
  color: #aaa;
}
.alt-color .data ul.movies li .metadata span.rating {
  color: #aaa;
}
