* {
  font-family: "proxima-nova", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -ms-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.logo-container {
  padding: 50px 0;
  text-align: center;
}
.logo-container h1.logo {
  font-size: 2.5em;
  margin: 0;
  font-weight: 500;
}
.logo-container h3.subtitle {
  margin: 0;
  font-size: 1.8em;
  color: #aaa;
  font-weight: 300;
  padding: 5px;
}
.alt-color {
  background-color: #fafafa;
}
.alt-color .header {
  padding: 30px;
}
.alt-color .header .section-title {
  font-size: 1.5em;
  font-weight: 500;
}
.alt-color .header .section-subtitle {
  font-size: 1.2em;
  font-style: italic;
  color: #aaa;
}
.alt-color .data {
  max-width: 2000px;
}
.alt-color .data .wrapper {
  overflow-x: scroll;
}
.alt-color .data ul.movies {
  display: inline-block;
  width: auto;
  padding: 0;
  list-style: none;
  min-height: 330px;
  white-space: nowrap;
}
.alt-color .data ul.movies li {
  display: inline-block;
  margin: 15px;
  opacity: 0;
  margin-top: -10px;
}
.alt-color .data ul.movies li img {
  border-radius: 5px;
}
.alt-color .data ul.movies li .metadata {
  width: 154px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
}
.alt-color .data ul.movies li .metadata span {
  text-align: left;
  padding-right: 5px;
}
.alt-color .data ul.movies li .metadata span.title {
  font-weight: 600;
  font-size: 1.2em;
}
.alt-color .data ul.movies li .metadata span.genres {
  color: #aaa;
}
.alt-color .data ul.movies li .metadata span.rating {
  color: #aaa;
}
