include ./includes/header
body.home
	.logo-container
		h1.logo OneHub
		h3.subtitle Something cool about movies
	//- a(href='/auth/facebook')
	//- 	button.fb Register with facebook
	.movie-container
		.overlay
			header.title The Great Gatsby
				hr
			article.description
				| An adaptation of F. Scott Fitzgerald's Long Island-set novel, where Midwesterner Nick Carraway is lured into the lavish world of his neighbor, Jay Gatsby. Soon enough, however, Carraway will see through the cracks of Gatsby's nouveau riche existence, where obsession, madness, and tragedy await.
			article.trailer
				iframe(class="youtube-player", type="text/html", width="480", height="270", src="http://www.youtube.com/embed/z7zl_t48CMc?HD=1;rel=0;showinfo=0;controls=2", allowfullscreen, frameborder="0")
			img.poster(src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w342/cVOGNAXzMLbRGchMHh6ysH9Hna2.jpg", width="300px")
		section.movie-description
	section.alt-color
		.header
			.section-title Trendin'
			.section-subtitle Movies that a lot of people wanna see. Do you?
		.data
			.wrapper
				ul.movies
					//- li.movie.col-lg-2
					//- 	img.poster(src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w154/cVOGNAXzMLbRGchMHh6ysH9Hna2.jpg")
					//- 	section.metadata
					//- 		span.title The Great Gatsby
					//- 		span.genres Action, Suspense, Fantasy
					//- 		span.rating Rating: <b>8.1</b>

	br
	input#movie(type="text", placeholder="Movie Name")
	button.search Search
	//- section.movie-container
	//- 	ul.movies
	include ./includes/footer